@model IEnumerable<DevelopmentAS.Models.PrivegioPermiso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPermisoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPrivilegioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPermisoNavigation.IdPermiso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPrivilegioNavigation.IdPrivilegio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPriPer">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPriPer">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPriPer">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
