@model IEnumerable<DevelopmentAS.Models.Insumo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreInsumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockInsumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadInsumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedidaInsumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMinInsumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaxInsumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorInsumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoInsumo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreInsumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockInsumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadInsumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedidaInsumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockMinInsumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockMaxInsumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorInsumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoInsumo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInsumo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdInsumo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInsumo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
