@model DevelopmentAS.Models.FichasTecnica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FichasTecnica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreFichaTecnica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreFichaTecnica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoFicha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoFicha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Talla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Talla)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFicha">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
