@model DevelopmentAS.Models.ProductoTerminado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductoTerminado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstampado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstampado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEstampado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEstampado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFichaTecNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFichaTecNavigation.IdFicha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProductoTerminado">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
