@model IEnumerable<DevelopmentAS.Models.ProductoTerminado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEstampado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEstampado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFichaTecNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstampado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEstampado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFichaTecNavigation.IdFicha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProductoTerminado">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProductoTerminado">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProductoTerminado">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
